# SQL(Structured Query Language)
- 데이터베이스(DB)에서 데이터를 조회하고자 할 때 필요한 컴퓨터 언어.
- DB를 특정 언어로 조회해서 가져오는데, 그때 사용하는 언어가 바로 SQL임.
- 테이블을 삽입하거나 삭제, 갱신, 조회하는 등 본인이 원하는 형태로 데이터를 만들어 가져올 수 있음.

## Python Database API(DB-API)
- DB를 연결한다.
- SQL문을 실행한다.
- DB 연결을 닫는다.
- 파이썬 DB-API는 기본적으로 PEP249 인터페이스를 따르도록 권장.
- 각 DB에 상응하는 별도의 DB 모듈을 다운받아야함.
- 파이썬은 MySQL, PostgreSQL, MSSQL, Sqlite, Oracle, Sybase, informix, mSQL 등 대표적인 DB를 모두 Python DB-API를 통해 지원함.

## SQLite
- 서버의 필요 없이 DB의 파일에 기초하여 DB 처리를 구현한 임베디드 SQL DB 엔진.
- 파이썬과 DB는 sqlite3라는 전화 중계기를 이용해 대화를 함.
- sqlite3 모듈은 파이썬 표준 라이브러리로 SQLite에 대한 인터페이스를 기본적으로 제공함.

In [1]:
import sqlite3
print("뿅💛")

뿅💛

In [2]:
#conn에 DB 이름을 정하여 입력.
#[이름].[확장자명]의 형태로 저장.

import os
db_path = os.getenv('HOME')+'/mydb.db'

#mydb.db에 연결.
conn = sqlite3.connect(db_path)  
print(conn)

<sqlite3.Connection object at 0x7fb772258490>

- conn 객체에는 SQL 연결과 관련된 셋팅이 포함되어 있음.

In [3]:
#Connect() 함수의 연결을 사용하는 새로운 Cursor 객체 생성.
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7fb7721d3730>

- Cursor는 SQL 질의(Query)를 수행하고 결과를 얻는데 사용하는 객체.
- SELECT와 같이 데이터를 불러올 때는 SQL 질의 수행 결과에 접근하기 위한 Cursor가 반드시 필요함.
- 때문에 습관적으로 conn.cursor()를 사용하는 것이 좋음.

In [4]:
#질의의 실행은 execute()를 이용

#stocks이라는 이름의 테이블을 하나 생성. 이미 생성되었다면 생략. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

#stocks 테이블에 데이터를 하나 인서트. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

#방금 인서트한 데이터 조회.
c.execute("SELECT * FROM stocks")

#조회된 내역을 커서를 통해 가져와 출력.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

## commit
- conn.commit()를 호출해야 DB가 실제로 업데이트 됨.
- commit()을 하기 전에는 DB에 데이터가 업데이트된 것 같아 보여도 임시로만 바뀐 것이니 주의해야 함.
- onnection을 통해 인서트 된 데이터는 conn.commit()를 호출하기 전까지는 그 connection 안에서만 유효함.
- 때문에 원본 데이터에 실제로 적용하기 위해서는 commit() 명령어를 이용하면 됨.
- select처럼 데이터를 가져오기만 하는 경우에는 commit() 필요 없음.

In [5]:
conn.commit()   #commit()은 cursor의 메소드가 아니라 connection의 메소드임. 
print("뿅💛")

뿅💛

- commit()을 통해 데이터베이스에 데이터 변경이 실제적으로 반영되었음.
- 이런 것을 데이터베이스에서는 트랜잭션(transaction) 관리라고 함.

In [6]:
c.close()      #커서를 닫은 후
conn.close()    #DB 연결을 닫음.
print("뿅💛")

뿅💛

## DDL문으로 테이블 생성

In [7]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")


#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varchar, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
#- 입력할 데이터를 그대로 입력 (변수명 순서 기준대로)

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
#테이블이 존재하지 않으면 생성, 변수명과 변수 타입은 아래와 같이 설정
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")    #테이블은 도서명 테이블이 되는 것

#각 변수명에 맞게 데이터를 실제로 생성
data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

#각 테이블의 변수에 위에서 입력한 데이터를 넣음
c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)    #executemany()는 한꺼번에 여러개의 데이터 처리를 가능하게 함.
                                                          #입력해야 할 데이터를 list로 관리하고 있는 경우 매우 유용함.
#--------------------------------------#

conn.commit()
conn.close()
print("뿅💛")

뿅💛

In [8]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
  print(row)

('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

## 쿼리 기본 구조
- SELECT ~ : 조회할 컬럼명을 선택
- FROM ~ : 조회할 테이블명을 지정 (위치와 테이블명을 입력)
- WHERE ~ : 질의할 때 필요한 조건을 설정
- GROUP BY ~ : 특정 컬럼을 기준으로 그룹을 지어 출력
- ORDER BY ~ : SELECT 다음에 오는 컬럼 중 정렬이 필요한 부분을 정렬 (기본 설정 : 오름차순)
- LIMIT 숫자 : Display하고자 하는 행의 수를 설정

In [9]:
#- 참고 : 실제 조회를 해보려면 아래처럼 쓰면 됩니다.
#- c.execute() 괄호 안에 SQL문을 넣으면 됩니다.

import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서대출내역'):
  print(row)

#- ! 출력 시 'NULL' 대신 'None'으로 출력될 수 있으나 동일하게 이해하시면 됩니다.

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

In [10]:
#전체 조회
#별(*)을 입력하게 되면 '테이블 전체를 다 가져와라'라는 명령어가 됨.
for row in c.execute('SELECT * FROM 도서대출내역'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

In [11]:
#특정 칼럼 지정
for row in c.execute('SELECT ID FROM 도서대출내역'):
  print(row)

('101',)
('101',)
('102',)
('102',)
('103',)
('104',)

In [12]:
#조건 입력
#WHERE절 이후에는 특정 조건을 입력할 수 있음.
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 이름 = "문강태";'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

In [13]:
#GROUP BY로 중복 제거
#GROUP BY는 이름 그대로 데이터를 그룹화시키는 역할.
for row in c.execute('SELECT 이름 FROM 도서대출내역 GROUP BY 이름;'):
  print(row)
#'가나다라' 순으로 재정렬해서 출력함.

('강기둥',)
('고문영',)
('문강태',)
('문상태',)

In [14]:
#DISTINCT로 중복 제거
#DISTINCT를 특정 컬럼 앞에 쓰면 해당 컬럼 값 중에서 중복되는 값들을 모두 제거한 후 출력
for row in c.execute('SELECT DISTINCT 이름 FROM 도서대출내역;'):
  print(row)

('문강태',)
('고문영',)
('문상태',)
('강기둥',)

In [16]:
#ORDER BY로 정렬
#ORDER BY 뒤에 특정 컬럼명을 적으면, 그 컬럼을 기준 값으로 정렬.
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID ;'):   #전체 컬럼을 가져오되 ID를 기준으로 정렬하라는 의미가 됨.
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

- ORDER BY 뒤에는 (ASC)가 생략되어 있음.
- 오름차순이 기본 설정인 것.
- 내림차순은 DESC.

In [17]:
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID DESC ;'):
  print(row)

('104', '강기둥', None, None, None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

In [18]:
#몇 개의 row만 조회
#LIMIT 구문 뒤에 숫자를 적으면 그 숫자만큼의 행(row)만 출력됨.
#주로 처음 테이블들을 조회할 때 그 테이블의 구조를 파악하고, 어떤 값들이 존재하는지를 샘플로 파악하고자 할 때 사용.
for row in c.execute('SELECT * FROM 도서대출내역 LIMIT 5 ;'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

In [22]:
for row in c.execute('SELECT 이름, 대출일, 반납일 FROM 도서대출내역 ORDER BY 대출일 DESC LIMIT 1;') :
    print(row)

('문강태', '2020-06-20', '2020-06-25')

## data type

In [23]:
for row in c.execute('SELECT * FROM 도서대출내역2;'):
  print(row)

('101', '문강태', '2020-06', '20일')
('102', '고문영', '2020-06', '10일')
('103', '문상태', '2020-06', '8일')
('104', '강기둥', '2020-06', '3일')

In [24]:
#데이터 타입 확인
import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  #mydb.db에 연결.
c = conn.cursor()

for row in c.execute('pragma table_info(도서대출내역)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, '이름', 'varchar', 0, None, 0)
(2, '도서ID', 'varchar', 0, None, 0)
(3, '대출일', 'varchar', 0, None, 0)
(4, '반납일', 'varchar', 0, None, 0)

- varchar : 문자형
- 대출일수를 숫자로 바꾸기 위해 '일'을 데어낼 것.
- SQLite를 사용하니까 SUBSTR()을 사용.
- 자리수가 다른 경우 length-1을 해도 되지만 split_part()를 사용할 수도 있음.

In [25]:
for row in c.execute('SELECT *, SUBSTR(대출일수, 1, (length(대출일수)-1)) AS 대출일수_수정 FROM 도서대출내역2;'):
  print(row)

('101', '문강태', '2020-06', '20일', '20')
('102', '고문영', '2020-06', '10일', '10')
('103', '문상태', '2020-06', '8일', '8')
('104', '강기둥', '2020-06', '3일', '3')

In [26]:
#CAST로 잘라낸 부분에 더해 숫자로 변환.
for row in c.execute('SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 ;'):
  print(row)

('101', '문강태', '2020-06', '20일', 20)
('102', '고문영', '2020-06', '10일', 10)
('103', '문상태', '2020-06', '8일', 8)
('104', '강기둥', '2020-06', '3일', 3)

In [27]:
#필요한 칼럼만 가져옴.
for row in c.execute('SELECT ID, 이름, 대출년월, AVG(CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT)) AS 대출일수_평균 FROM 도서대출내역2 GROUP BY 1,2,3;'):
  print(row)

('101', '문강태', '2020-06', 20.0)
('102', '고문영', '2020-06', 10.0)
('103', '문상태', '2020-06', 8.0)
('104', '강기둥', '2020-06', 3.0)

## WHERE 조건
- 특정 문자를 포함하는 row를 가져오고 싶을 때
- 특정 기간 혹은 특정 날짜의 전 또는 이후의 row를 가져오고 싶을 때
- 특정 숫자 이상 또는 이하의 row를 가져오고 싶을 때   
WHERE 조건절 안에서 사용할 수 있음.

### 1. 특정 문자를 포함하는 row를 가져오고 싶을 때

In [28]:
#문씨 형제의 결과만 가져오기
for row in c.execute('SELECT * FROM 도서대출내역2 WHERE 이름 LIKE "문%" ;'):
  print(row)

('101', '문강태', '2020-06', '20일')
('103', '문상태', '2020-06', '8일')

- LIKE는 문자열 컬럼에서 사용할 수 있는 것으로 해당 문자를 포함 또는 해당 문자로 시작 또는 종료하는 것을 불러올 수 있음.
- "문%"은 '문'으로 시작하는 모든 문자열을 다 가져오라는 명령.
- 문자열은 꼭 큰따옴표(")를 이용해 감싸주어야 함!!!!

### 2. 특정 기간 혹은 특정 날짜의 전 또는 이후의 row를 가져오고 싶을 때

In [29]:
#6월 첫째 주에 대출한 사람들의 정보
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 대출일 >= "2020-06-01" AND 대출일 <= "2020-06-07" ;'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

In [30]:
#부등호 사용 말고도 BETWEEN을 사용할 수도 있음.
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 대출일 BETWEEN "2020-06-01" AND "2020-06-07" ;'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

### 3. 특정 숫자 이상 또는 이하의 row를 가져오고 싶을 때

In [31]:
#대출일수가 5일을 초과하는 사람들의 정보
for row in c.execute('SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 WHERE 대출일수_수정 > 5 '):
  print(row)

('101', '문강태', '2020-06', '20일', 20)
('102', '고문영', '2020-06', '10일', 10)
('103', '문상태', '2020-06', '8일', 8)

### 4. NULL 조건 다루는 방법

In [32]:
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 반납일 IS NOT NULL;'):
  print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

In [33]:
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 반납일 IS NULL;'):
  print(row)

('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('104', '강기둥', None, None, None)

In [34]:
for row in c.execute('SELECT 이름 FROM 도서대출내역 WHERE 이름 LIKE "%태" AND 대출일 >= "2020-06-19" AND ID < 102 AND 반납일 IS NOT NULL;') :
    print(row)

('문강태',)

## Join
- INNER JOIN : A 테이블과 B 테이블의 교집합을 조회
- LEFT JOIN : (기준은 A 테이블) A 테이블을 기준으로 해서 B 테이블은 공통되는 부분만 조회
- RIGHT JOIN : (기준은 B 테이블) B 테이블을 기준으로 해서 A 테이블은 공통되는 부분만 조회
- FULL JOIN : A 테이블과 B 테이블 모두에서 빠트리는 부분 없이 모두 조회

In [35]:
import os
db_path = os.getenv('HOME')+'/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
c = conn.cursor()

### 1. INNER JOIN

In [36]:
print('대출내역 테이블')
for row in c.execute('SELECT * FROM 대출내역;'):
  print(row)
print('')
print('도서명 테이블')
for row in c.execute('SELECT * FROM 도서명;'):
  print(row)

대출내역 테이블
('101', '문강태', 'aaa')
('102', '고문영', 'bbb')
('102', '고문영', 'fff')
('103', '문상태', 'ccc')
('104', '강기둥', None)

도서명 테이블
('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

In [37]:
#도서 ID를 기준으로 연결
query = '''
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
INNER JOIN 도서명 AS B
ON A.도서ID = B.도서ID;
'''
for row in c.execute(query):
  print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('103', '문상태', 'ccc', '공룡백과사전')

### - LEFT JOIN
- 왼쪽 A 테이블을 기준으로 오른쪽 테이블을 붙이는 것.
- A 테이블에 있는 데이터는 모두 가져오고 B 테이블과 공통되는 부분만 오른쪽에 붙이게 됨.

In [38]:
query = '''
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
LEFT JOIN 도서명 AS B
ON A.도서ID = B.도서ID;
'''
for row in c.execute(query):
  print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('102', '고문영', 'fff', None)
('103', '문상태', 'ccc', '공룡백과사전')
('104', '강기둥', None, None)

In [39]:
query = '''
SELECT B.*, A.ID, A.이름 
FROM 대출내역 AS A 
RIGHT JOIN 도서명 AS B
ON A.도서ID = B.도서ID;
'''
for row in c.execute(query):
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [40]:
query = '''
SELECT A.*, B.도서명 
FROM 대출내역 AS A 
FULL OUTER JOIN 도서명 AS B
ON A.도서ID = B.도서ID
ORDER BY 도서ID;
'''
for row in c.execute(query):
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

-  SQLite에서는 RIGHT JOIN과 FULL OUTER JOIN를 지원하지 않음.

### - 중첩 질의(Nested Query)
-  LEFT JOIN을 사용한 서브쿼리의 결과 C로부터 다시 쿼리를 수행하는 형태로 쿼리가 중첩되어 있음.

In [41]:
query = '''
SELECT C.이름, COUNT(*) 대출건수
FROM (
	SELECT A.*, B.도서명 
	FROM 대출내역 AS A 
	LEFT JOIN 도서명 AS B
	ON A.도서ID = B.도서ID ) C
GROUP BY C.이름;
'''
for row in c.execute(query):
  print(row)

('강기둥', 1)
('고문영', 2)
('문강태', 1)
('문상태', 1)

## 쿼리의 조건절

### 1. IFNULL
- NULL 대신 다른 값으로 바꾸어 출력.
- IFNULL(값1, 값2)에서 값1 항목이 NULL인지 체크해서 NULL이면 값2를 대신하고 이외의 경우에는 값1 그대로 반환함.

In [42]:
query = '''
SELECT A.*, IFNULL(B.도서명, '도서명미상') AS 도서명
	FROM 대출내역 AS A 
	LEFT JOIN 도서명 AS B
	ON A.도서ID = B.도서ID;
'''
for row in c.execute(query):
  print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('102', '고문영', 'fff', '도서명미상')
('103', '문상태', 'ccc', '공룡백과사전')
('104', '강기둥', None, '도서명미상')

### 2. CASE
- IF문처럼 조건에 따라 다양한 출력이 가능하도록 해주는 매우 강력하고 유용한 함수.

In [43]:
query = '''
SELECT 이름, 
CASE WHEN 대출일수_수정 > 5 
    THEN '기간초과' 
    ELSE '기간내' 
END AS 대출기간
FROM (
    SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 
    FROM 도서대출내역2
);
'''
for row in c.execute(query):
  print(row)

('문강태', '기간초과')
('고문영', '기간초과')
('문상태', '기간초과')
('강기둥', '기간내')

### 종합
- '도서명' 테이블과 '도서대출내역' 테이블을 도서ID를 key로 하여 LEFT JOIN해서 |도서ID|도서명|대출건수|대출상태| 항목을 출력하는 쿼리를 작성.
- 대출건수 : 도서별로 도서대출내역 테이블에 대출일자가 있으면 대출건수 1로 본다. 여러 번 대출되었으면 대출된 회수만큼 합산된다.
- 대출상태 : 대출일자는 NOT NULL인데 반납일자가 NULL인 도서대출내역이 있으면 '대출중', 그렇지 않고 모든 대출내역에 반납일자가 명시되어 있으면 '보관중'으로 본다.

In [44]:
query = '''
SELECT C.도서ID, C.도서명, SUM(C.대출건수) AS 대출건수, 
CASE SUM(C.대출건수)-SUM(C.반납건수) WHEN 0 THEN '보관중' ELSE '대출중' 
END AS 대출상태 
FROM ( 
SELECT A.도서ID, A.도서명, CASE WHEN B.대출일 IS NULL THEN 0 ELSE 1 END AS 대출건수, CASE WHEN B.반납일 IS NULL THEN 0 ELSE 1 END AS 반납건수 
FROM 도서명 AS A LEFT JOIN 도서대출내역 AS B ON A.도서ID = B.도서ID ) AS C GROUP BY C.도서ID, C.도서명 ;
'''

for row in c.execute(query):
  print(row)

('aaa', '악몽을 먹고 자란 소년', 1, '보관중')
('bbb', '좀비아이', 1, '대출중')
('ccc', '공룡백과사전', 2, '보관중')
('ddd', '빨간구두', 1, '대출중')
('eee', '잠자는 숲속의 미녀', 0, '보관중')